.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border: 1px solid gray;
  .input-text {
    width: 90%;
  }
  .line-through {
    text-decoration: line-through;
  }
}
